.center {
  margin: auto;
  width: 50%;
  padding: 20px;
}

.box {
  display: flex;
  justify-content: center;
  font-family: Arial
}

.imageDiv {
  margin-top: 10px;
  margin-right: 20px;
}

.targetImage {
  border-radius: 10px;
}

